section {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff ;
    padding: 5vh 0;
}
/* @media (min-width: 600px) {
    #music-page {
        width: 500px;
    }
} */
@media (min-width: 900px) {
    #music-page {
        width: 700px;
    }
}
@media (min-width: 1000px) {
    #music-page {
        width: 800px;
    }
}
@media (min-width: 1200px) {
    #music-page {
        width: 1000px;
    }
}
body section {
    display: none;
}
#music-page {
    display: block;
} 
#music-page {
    position: relative;
    width: 1000px;
    height: 100%;
}
.fm-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    padding-top: 5vh;
    margin-bottom: 10vh;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    z-index: 2;
}
.fm-header .logo {
    float: left;
    color: #4369a6;
    font-size: 4.5vh;
    line-height: 6vh;
    vertical-align: middle;
}
.fm-header .navbar {
    float: right;
}
.fm-header .navbar>li{
    position: relative;
    float: left;
    margin-right: 3vh;
    padding: 0 3vh;
    line-height: 6vh;
}
.fm-header .navbar>li a {
    vertical-align: middle;
}
.fm-header .navbar>li.active::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 6vh;
    border: 1px solid #aaa;
    border-bottom: 1px solid #fff;
}
.player {
    margin-top: 15vh;
    position: absolute;
    width: 100%;
    height: 70vh;
}
.player .album {
    margin-top: 2vh;
    float: left;
    width: 50vh;
    height: 50vh;
    background-size: cover;
}
.player .album>img {
    width: 100%;
    height: 100%;
}
.player .buttons {
    position: absolute;
    top: 57vh;
    left: 0;
    width: 50vh;
    display: flex;
}
.player .buttons span {
    flex: 1;
    text-align: center;
}
.player .buttons .iconfont {
    color: #777;
    font-size: 4vh;
    display: inline-block;
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    border-radius: 50%;
    border: 1px solid #777;
}
.player .buttons .iconfont:hover {
    background-color: #fff;
    color: #4369a6;
    border: 1px solid  #4369a6;
}
.player .buttons .icon-like.active {
    color: #cc2e2e;
}
.player .detail {
    margin-left: 60vh;
}
.player .detail .title {
    font-size: 3.8vh;
    letter-spacing: 0.3vh;
}
.player .detail .author {
    font-size: 2.5vh;
    letter-spacing: 0.1vh;
}
.player .progress {
    margin: 3vh 0 5vh 0;
}
.player .progress .bar {
    position: relative;
    margin-bottom: 1vh;
    padding-top: 1.2vh;
}
.player .bar .total-bar {
    background-color: #ccc;
    width: 100%;
    height: 0.4vh;
    font-size: 0
}
.player .bar .time-bar {
    position: absolute;
    top: 1.2vh;
    left: 0;
    background-color: #517dc5;
    vertical-align: center;
    width: 0;
    height: 0.4vh;
    font-size: 0;
    transition: width 1s;
}
.player .time {
    float: right;
}
.player .volume {
    float: left;
    width: 15vh; /*为了点击进度条设置宽度*/
}
.player .volume .v-bar {
    position: relative;
    margin-left: 5px;
    width: 0; 
    display: inline-block;
}
.player .volume .volume-bar {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}
.player .volume .adjust-bar {
    position: absolute;
    bottom: 5px;
    width: 30%;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(43, 69, 166, 0.4);
}
.player .detail .lyric {
    position: relative;
    height: 40vh;
    overflow: hidden;
}
.player .detail .all-lyric {
    position: absolute;
    top: 0;
    width: 100%;
}
.player .detail .lyric p {
    text-align: center;
    line-height: 2;
    font-size: 2vh;
}
.player .detail .lyric p.playing-lyric {
    color: #4369a6;
}
/* 
.scroll .player .album{
    width: 10vh;
    height: 10vh;

}
.scroll .player .detail {
    margin-left: 20vh;
}
.scroll .detail .title {
    display: inline-block;
    font-size: 2.5vh;
    letter-spacing: 0;
}
.scroll .detail .title::after {
    content: ' - ';
    font-size: 2.5vh;
    letter-spacing: 0;
}
.scroll .detail .author {
    display: inline-block;
    font-size: 2.5vh;
    letter-spacing: 0;
}

.scroll .player .progress {
    margin: 1vh 0 2vh;
}

.player .progress .bar {
    position: relative;
    margin-bottom: 1vh;
    padding-top: 1.2vh;
}

.player .bar .total-bar {
    background-color: #ccc;
    width: 100%;
    height: 0.4vh;
    font-size: 0
}

.player .bar .time-bar {
    position: absolute;
    top: 1.2vh;
    left: 0;
    background-color: #517dc5;
    vertical-align: center;
    width: 30%;
    height: 0.4vh;
    font-size: 0;
}

.player .time {
    float: right;
}

.scroll .detail .playing-lyric {
    display: none;
} */
#music-list,#my-songs {
    margin-top: 15vh;
}
#music-list .img-ct {
    display: flex;
    flex-flow: wrap;
}
#music-list .img-ct>div {
    flex: 0 1 30vh;
    margin-left: 10vh;
    margin-bottom: 3vh;
}
#music-list .img-ct>div a {
    position: relative;
    display: block;
    font-size: 0;
}
#music-list .img-ct img {
    position: relative;
    width: 100%;
}
#music-list .img-ct>div .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43,69,166,0.6);
    display: none;
}
.img-ct>div .shadow .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    text-align: center;
    line-height: calc(8vh - 4px);
    color: #fff;
    font-size: 4vh;
}
#music-list .img-ct a:hover .shadow {
    display: block;
}
#my-songs .cols-1,.cols-2 {
    float: left;
}
#my-songs .cols-1 {
    text-align: center;
     width: 20%;
}
#my-songs .cols-2 {
    width: 40%;
    padding-left: 5%;
}
#my-songs .list-title {
    background-color: #eee;;
    padding: 2vh 0;
}
#my-songs .song-list>li {
    padding: 1vh 0;
    border-bottom: 1px solid #aaa;
}
#my-songs .song-list>li span {
    line-height: 5vh;
}
#my-songs .song-list>li img {
    float: left;
    width: 5vh;
}
#my-songs .song-list>li .title {
    margin-left: 3vh;
}
